
@use './variables';

@font-face {
    font-family: variables.$base-font-family;
    src: url("./Heebo.ttf");
}

html {
    font-family: variables.$base-font-family;
    font-size: variables.$base-font-size;
    color: variables.$color-dark;
}

.app {
    font-size: 1.4rem;
    line-height: 2em;
}

.app h1, 
.app h2, 
.app h3, 
.app h4, 
.app h5, 
.app h6, 
.app p {
    margin: 0;
}

.app h1, 
.app h2, 
.app h3, 
.app h4, 
.app h5, 
.app h6, 
.app p {
    padding: 0 1rem;
}

.app button, 
.app input {
    padding: 0.5 1rem;
}

.app h1 {
    font-size: 2.4rem;
}

.app h2 {
    font-size: 2.2rem;
}

.app h3 {
    font-size: 2.0rem;
}

.app h4 {
    font-size: 1.8rem;
}

.app h5 {
    font-size: 1.6rem;
}

.app h6 {
    font-size: 1.4rem;
}

.app p {
    font-size: 1.4rem;
}
