.page-counter {
    display: flex;
    flex-direction: row;
}

.page-counter-numerator {
    display: flex;
}

.page-counter-denominator {
    margin-left: 0.5rem;
}

.page-counter-numerator {
    display: flex;
}