.page-counter-numerator {
    display: flex;
}

.rolling-number-window {
    position: relative;
    overflow-y: hidden;
}

.rolling-number {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.rolling-number.no-animation {
    transition: none;
}

.rolling-number-placeholder {
    width: 0.9rem;
    height: 2em;
}

.page-counter-numerator {
    display: flex;
}

.rolling-number {
    display: flex;
    flex-direction: column;
}

.rolling-number {
    width: 0.9rem;
    line-height: 2em;
}